# Build Folders (you can keep bin if you'd like, to store dlls and pdbs

# No track generated dlls
bin/SIMO_CORE.dll
bin/SIMO_CORE.pdb
bin/SIMO_WEB.dll
bin/SIMO_WEB.pdb

# Ignore generated app
obj

# Ignore test results
TestResults
